@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --green-500: #3c8067;
  --green-700: #1b4133;

  --black: #1c232b;
  --grey: #6c7289;
  --cream: #f2ebe3;
  --white: #ffffff;
}

html {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--cream);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: "Fraunces", serif;
  font-size: clamp(1.8rem, 1.5rem + 1vw, 2.5rem);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 0.5rem;
  max-width: 320px;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: auto;
  display: block;
}

.content {
  padding: 2.5rem;
}

.category {
  font-size: clamp(0.8rem, 0.7rem + 0.3vw, 1rem);
  color: var(--grey);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding-bottom: 1.5rem;
}

.description {
  font-size: clamp(0.9rem, 0.85rem + 0.2vw, 1.1rem);
  line-height: clamp(1.3rem, 1.2rem + 0.3vw, 1.7rem);
  color: var(--grey);
  word-spacing: 0.1rem;
  padding: 1.5rem 0px;
}

.prices {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding-bottom: 1.5rem;
}
.sale-price {
  font-size: clamp(2rem, 1.8rem + 0.8vw, 3rem);
  font-family: "Fraunces", serif;
  color: var(--green-500);
}

.striked-price {
  font-size: clamp(0.9rem, 0.85rem + 0.2vw, 1.1rem);
  color: var(--grey);
  text-decoration-line: line-through;
}

.btn {
  background-color: var(--green-500);
  color: var(--white);
  font-weight: 700;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
}

#cart-icon {
  width: 1rem;
  height: 1rem;
}

.btn:hover {
  background-color: var(--green-700);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .card {
    flex-direction: row;
    max-width: 43rem;
  }

  .hero-img,
  .content {
    flex-basis: 50%;
  }

  .hero-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
