
@media screen and (min-width: 768px) {
  .card {
    flex-direction: row;
    /* max-width: 100%; */
    max-width: 43rem;
    /* height: clamp(400px, 50vh, 500px); */
  }

  .hero-img,
  .content {
    flex: 1 1 0;
  }

  .hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .category {
    font-size: 0.85rem;
    padding-bottom: 1.2rem; 
  }

  h1 {
    font-size: 2rem;
    line-height: 1;
  }

  .description {
    font-size: 0.95rem;
    line-height: 1.5rem;
    padding: 1.2rem 0; /* instead of 1.5rem on mobile */
  }

  .prices {
    padding-bottom: 1.2rem; /* instead of 1.5rem on mobile */
  }

  .sale-price {
    font-size: 2rem;
  }
}
